@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #42276a;
  --BORDER-COLOR: #FFF;
  --COLOR: black;
  --COLOR2: white;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: #CDD0CF;
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR2);
  display: grid;
  place-content: center;
}

.icon-button1 {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR1);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: white;
  color: var(--COLOR);
  /* background-image: url('./img/usm.jpg'); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* welcome.js */
.welcome-section {
  display: flex; /* Arrange content horizontally */
  align-items: center; /* Align vertically */
  justify-content: center; /* Align horizontally within container */
  min-height: 100vh; /* Ensure content fills viewport height */
  background-color: #F0F2F5; /* Light background color */
  padding: 2rem; /* Add some padding */
}

.welcome-container {
  background-color: #fff; /* White background for content */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 3rem; /* Increase content padding */
  max-width: 800px; /* Limit width for larger screens */
  width: 100%; /* Ensure full width on smaller screens */
}

.welcome-header {
  margin-bottom: 2rem; /* Add space between header and links */
}

.welcome-header h1 {
  font-size: 2rem; /* Large headline */
  margin-bottom: 0.5rem; /* Add some margin below */
}

.welcome-links {
  display: flex; /* Arrange links horizontally */
  flex-wrap: wrap; /* Wrap links to multiple lines if needed */
  list-style: none; /* Remove default bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.welcome-links p {
  margin: 0.5rem; /* Add some margin between links */
  font-size: 16px; /* Regular text size */
}

.welcome-links a {
  text-decoration: none; /* Remove underline on links */
  color: #343A40; /* Darker text color */
}

.welcome-links a:hover {
  color: #007bff; /* Blue on hover */
  transition: color 0.2s ease-in-out; /* Smooth color transition */
}




input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login-wrapper {
  display: flex; /* Inherit from parent or set as needed */
  flex-direction: column; /* Inherit from parent or set as needed */
  justify-content: center; /* Inherit from parent or set as needed */
  align-items: center; /* Inherit from parent or set as needed */
  height: 100vh; /* Adjust height as needed */
  border: 1px solid #ddd; /* Border for the wrapper */
  padding: 2rem; /* Padding inside the wrapper */
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
  height: 50vh; /* Adjust height as needed */
  border: 1px solid #ddd; /* Border for the login section */
  padding: 2rem; /* Padding inside the login section */
}



.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

.public {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.public__hero {
  position: relative; /* For background image/video */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* Adjust height as needed, minus header height */
}

.public__hero-img {
  width: 40%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  object-fit: cover; /* Ensure image fills container */
}

.public__hero-content {
  text-align: center;
  color: black; /* Assuming light text on dark background */
}

.public__hero-title {
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 1rem;
}

.public__hero-text {
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-bottom: 0;
}

.public__main {
  flex-grow: 1; /* Allow main content to fill remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public__login-btn {
  background-color: #42276a; /* Green color */
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

.public__login-btn.absolute {
  position: absolute;
  top: 1rem; /* Adjust as needed */
  right: 1rem; /* Adjust as needed */
}


.public__content {
  margin-top: 2rem;
  color:#000;
  text-align: center;
}

.public__content-img {
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust width as needed */

  margin: 1rem auto;
}


/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  color: #FFF;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebar {
  display: flex;
  height: 100%;
}

.links {
  width: 300px; /* Adjust width as needed */
  padding: 20px; /* Adjust padding as needed */
  background-color: #e0e0e0; /* Add background color */
}

.welcome {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Adjust padding as needed */
  background-color: #f0f0f000; /* Add background color */
}

.links p {
  margin-bottom: 30px; /* Add spacing between links */
}

/* Optional: Style links */
.links a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #2f93cc;
}

.welcome p {
  font-size: 30px; /* Custom font size */
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343A40; /* Darker base color */
  padding-top: 20px;
  z-index: 1;
  transition: all 0.3s ease-in-out; /* Smooth transition on hover */
}

.sidenav.active { /* Add active state for expanded sidebar */
  width: 300px; /* Increase width on active */
  transition: all 0.3s ease-in-out;
}

.sidenav a {
  padding: 16px 16px 16px 32px; /* Adjust padding for icons */
  text-decoration: none;
  font-size: 16px; /* Slightly smaller font */
  color: #f1f1f1; /* Lighter text color */
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
  transition: all 0.3s ease-in-out; /* Smooth transition on hover */
}

.sidenav a:hover {
  color: #fff; /* White on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Slight hover background */
}

.sidenav i { /* Style icons */
  margin-right: 10px;
  font-size: 20px;
}

.sidenav.active a { /* Adjust active state styles */
  font-weight: bold;
  border-left: 4px solid #FFA500; /* Solid border for active link */
}

